// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-card {
  margin: 0 auto;
  width: 95%;
  display: flex;
}

.comment-avatar {
  display: flex;
  align-self: center;
}

.comment-avatar img {
  width: 34px;
  height: 34px;
  border-radius: 20px;
}

.comment-body {
  background-color: rgb(225, 227, 229);
  border-radius: 8px;
  // width: 100%;
  margin: 4px;
  padding: 7px;
  align-self: center;
}

.comment-user-name {
  font-size: 12px;
  font-weight: bold;
}

.comment-user-name a {
  color: rgb(49, 49, 49);
}

.comment-text {
  font-size: 14px;
  margin-top: 4px;
  width: 100%;
}

.comment-delete-button button {
  margin: 14px 2px;
  background: white;
  border: none;
  border-radius: 10px;
  height: 20px; 
  width: 42px;
  font-size: 10px;
  font-weight: bold;
}

.comment-delete-button button:hover {
  background-color: rgb(225, 227, 229);
}

.post-comment-text {
  width: 98%;
  height: 28px;
  border: none;
  border-radius: 50px;
  background-color: rgb(225, 227, 229);
  color: black;
  overflow: auto;
  outline: none;
  resize: none;
  padding-left: 14px;
  padding-top: 12px;
  font-size: 14px;
  margin-left: 4px;
}

.post-comment {
  width: 95%;
  margin: 8px auto;
}

.comment-container {
  display: flex;
  justify-content: space-between;
}

.post-comment-avatar {
  width: 34px;
  height: 34px;
}

.post-comment-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.post-comment-form {
  position: relative;
  align-self: center;
  width: 95%;
}

.post-comment-form-text {
  width: 98%;
  margin: 0;
}

.comment-icons {
  position: absolute;
  top: 5px;
  right: 10px;
}

.smile-icon,
.image-icon {
  height: 18px;
  width: 18px;
  margin-top: 5px;
  margin-right: 8px;
}

.comment-icons svg:hover {
  cursor: pointer;
}

.post-form-input::placeholder {
  margin-left: 20px;
}

// End of comment section

