// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index-div {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-around;
  min-height: 1000px;
}

.left-users-menu,
.friends-list {
  width: 20%;
}

.feed-container {
  height: 100%;
  width: 40%;
}

.friends-list > h1,
.left-users-menu > h1,
.feed-container > h1 {
  margin: 20px 0px;
}

.friends-list li {
  width: 200px; 
  height: 24px;
  padding: 5px 0px;
}

.friends-list li:hover {
  background-color: rgb(221, 223, 226);
}

.user-profile-link {
  height: 100%;
  width: 100%;
  margin-top: 6px;
  margin-left: 4px;
}

.friendship-card {
  border-radius: 5px;
  min-width: 240px;
  display: flex;
  align-items: center;
}

.friendship-card-image {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}