// Place all the styles related to the friend_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-card {
  border-radius: 5px;
  min-width: 240px;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.request-card:hover {
  background-color: rgb(221, 223, 226);
}

.request-card-image {
  object-fit: cover;
  width: 26px;
  height: 26px;
  border-radius: 14px;
  margin-left: 4px;
}

.request-button {
  margin-right: 10px;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 2px 6px;
}

.button-accept {
  background-color: #2d88ff;
}

.button-decline {
  background-color: #9c9c9c;
}

.requests-list li:hover{
  cursor: pointer;
}