// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar {
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(221, 223, 226);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, .2);
  height: 60px;
}

.navbar-search,
.navbar-main-ul, 
.navbar-menu,
.nav-bar,
.navbar-search-icon+input {
  display: flex;
}


// Beginning of navbar search css
.navbar-search {
  margin-left: 10px;
}

.navbar-search-icon {
  margin-top: 5px;
}

.navbar-search-input {
  margin-left: 30px;
  height: 80%;
  color: gray;
  align-self: center;
  margin-top: -35px;
  border-radius: 20px;
  // border-color: white;
}
// End of navbar search css




// Beginning of navbar main css

.navbar-main-li {
  margin: 3px 5px;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 50px;
  width: 116px;

}

.navbar-main-home {
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(27, 119, 242);
  margin: 3px 0;
}

.navbar-main-home,
.navbar-main-home-hover {
  height: 100%;
  width: 90%;
  margin: 1px 0;
}

.navbar-main-home-hover:hover {
  background-color: rgb(240, 242, 245);
  border-radius: 10px;
}

.nav-house {
  color: #2d88ff;
  margin: 10px 36px 8px 36px;
  left: 2px;
}

.nav-linkedin {
  color: rgb(177, 179, 185);
  margin: 10px 38px;
  top: 2px;
}

.nav-github {
  color: rgb(177, 179, 185);
  margin: 10px 38px;
  top: 2px;
}


// End of navbar main css



// Beginning of navbar menu css
.navbar-menu-user-profile-container {
  display: flex;
  margin: 10px 10px;
  // align-content: center;
}

.navbar-menu-user-profile {
  background-color: white;
  align-self: center;
  height: 100%;
  padding: 2px 2px;
}

.navbar-menu-user-profile:hover {
  background-color: rgb(221, 223, 226);
  border-radius: 50px;
}

.navbar-menu-list-button {
  display: flex;
  margin-right: 5px;
  align-content: center;
}
  
.navbar-menu-create-post,
.navbar-menu-users,
.navbar-menu-dropdown-click {
  align-self: center;
  padding: 10px 5px;
  height: 20px;
  width: 30px;
  background-color: rgb(221, 223, 226);
  margin-right: 5px;
  border-radius: 30px;
}
// End of navbar menu css






// Beginning of navbar dropdown css
.navbar-dropdown-list-div {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout-button {
  height: 40px;
}
// End of navbar dropdown css