// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar {
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(221, 223, 226);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, .2);
  height: 60px;
}

.navbar-search,
.navbar-main-ul, 
.navbar-menu,
.nav-bar,
.navbar-search-icon+input {
  display: flex;
}


// Beginning of navbar search css
.facebook-logo:hover {
  cursor: pointer;
}

.navbar-search {
  margin-left: 10px;
}

.navbar-search-icon {
  margin-top: 5px;
}

.navbar-search-input {
  margin-left: 30px;
  height: 80%;
  color: gray;
  align-self: center;
  margin-top: -35px;
  border-radius: 20px;
}

.navbar-search-input input {
  background-color: rgb(240, 242, 245);
  border: none;
  outline: none;
  padding-left: 10px;
}
// End of navbar search css




// Beginning of navbar main css

.navbar-main-li {
  margin: 3px 5px;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 50px;
  width: 116px;

}

.navbar-main-home {
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(27, 119, 242);
  margin: 3px 0;
}

.navbar-main-home,
.navbar-main-home-hover {
  height: 100%;
  width: 90%;
  margin: 1px 0;
}

.navbar-main-home-hover:hover {
  background-color: rgb(240, 242, 245);
  border-radius: 10px;
}

.nav-house {
  color: #2d88ff;
  margin: 10px 36px 8px 36px;
  left: 2px;
}

.nav-linkedin {
  color: rgb(177, 179, 185);
  margin: 10px 38px;
  top: 2px;
}

.nav-github {
  color: rgb(177, 179, 185);
  margin: 10px 38px;
  top: 2px;
}
// End of navbar main css

// Beginning of navbar menu css

.navbar-menu-user-profile {
  align-self: center;
  padding: 10px 5px;
  justify-content: center;
  height: 20px;
  min-width: 80px;
  margin: 0 5px;
  border-radius: 30px;
  display: flex;
}

.navbar-menu-user-profile a {
  color: black;
  padding: 10px 5px;
  margin: 0 auto;
}

.navbar-menu-user-profile:hover {
  background-color: rgb(221, 223, 226);
  border-radius: 50px;
  cursor: pointer;
}

.navbar-menu-user-profile-container,
.navbar-menu-list-button {
  display: flex;
  margin-right: 5px;
  align-content: center;
}

.navbar-menu-user-picture {
  width: 26px; 
  height: 20px;
}

.navbar-menu-user-picture img {
  width: 100%; 
  height: 100%;
  border-radius: 10px;
}

.navbar-menu-user-link {
  margin-top: 2px;
  margin-left: 4px;
}

.navbar-menu-create-post {
  background-color: rgb(221, 223, 226);
  align-self: center;
  // justify-content: center;
  // padding: 10px 5px;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border-radius: 30px;
}


.navbar-menu-users,
.navbar-menu-dropdown-click {
  background-color: rgb(221, 223, 226);
  align-self: center;
  padding: 6px 5px;
  height: 28px;
  width: 30px;
  margin-right: 5px;
  border-radius: 30px;
}

.navbar-menu-create-post:hover,
.navbar-menu-users:hover,
.navbar-menu-dropdown-click:hover {
  background-color: rgb(177, 179, 185);
  cursor: pointer;
}

.navbar-menu-create-post p {
  font-size: 20px;
  color: black;
  margin: 11px 13px 13px 14px;
}

.navbar-menu-users svg {
  margin-left: 1px;
}

.dropdown-icon svg {
  color: black;
}

// End of navbar menu css
