// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-card {
  border: 1px solid rgb(225, 227, 229);
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 20px auto;
}

.post-header {
  margin: 10px auto;
  width: 95%;
}

.post-header-top {
  display: flex;
}

.post-header-img {
  margin: 5px 20px;
}

.post-header-img img {
  width: 34px;
  height: 34px;
  border-radius: 20px;
}

.post-header-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.post-header-info span a {
  font-size: 18px;
  color: black;
}

.post-header-info span a:hover {
  text-decoration: underline;
}

.post-header-date {
  font-size: 12px;
}



// .post-header-info button svg {
//   border: none;
//   height: 50%;
//   align-content: center;
//   height: 10px;
//   width: 10px;
//   padding: 3px;
//   border-radius: 10px;
// }

// .post-header-info button svg:hover {
//   background-color: rgb(225, 227, 229);
// }

// End of header

// Beg of body

.post-body {
  width: 95%;
  margin: 0px auto;
  padding: 20px 0;
}

.post-body-text {
  font-size: 20px;
  margin: 0 10px;
}

// End of body

// Beg of buttons

.post-buttons {
  border-top: 1px solid rgb(225, 227, 229);
  border-bottom: 1px solid rgb(225, 227, 229);
  width: 95%;
  margin: 10px auto;
}

.post-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.post-buttons-hover {
  width: 50%;
  margin: 4px 0;
}

.post-buttons-like span,
.post-buttons-comment span {
  display: flex;
  padding: 8px;
  justify-content: center;
}

.post-buttons-like span:hover,
.post-buttons-comment span:hover {
  background-color: rgb(223, 226, 229);
  border-radius: 6px;
  cursor: pointer;
}

.thumbs-up-svg,
.comment-svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

// End of buttons
