.post-form-header {
  height: 40px;
}

.post-dividor {
  width: 90%;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin: 0 auto
}

.post-form-header div > span {
  display: flex;
  margin: 10px auto;
  justify-content: flex-end;
}

.post-form-header div span h1 {
  color: black;
  margin-right: 200px;
  font-size: 18px;
}
// End of header

.post-form-button-div {
  margin: 0px 20px;
}

.post-form-user {
  display: flex;
  height: 40px;
}

.post-form-user-image {
  margin: 10px;
}

.post-form-friends-click {
  display: flex;
  height: 20px;
}

.post-form-friends-click p {
  font-size: 13px;
  margin-right: 3px;
}

.friends-icon {
  width: 8px;
  height: 8px;
  margin-left: 3px;
}

.arrow-down {
  width: 9px;
  height: 9px;
  margin-bottom: 10px;
}
// End of below header

.post-form-text textarea {
  margin-top: 5px;
  margin-left: 20px;
  outline: none;
  width: 92%;
  min-height: 100px;
  overflow: hidden;
  resize: none;
  border: none;
}

.post-form-text textarea::placeholder {
  color: rgb(144, 148, 156);
  font-size: 16px;
}
// End of post text

.add-to-your-post {
  width: 92%;
  height: 40px;
  display: flex;
  border: 1px solid rgb(206, 208, 210);
  border-radius: 10px;
  margin: 10px auto;
}

.add-to-your-post > div {
  width: 100%;
  align-self: center;
}

.post-add-to-post {
  margin-left: 30px;
}

.post-icons {
  display: flex;
  margin-left: 250px;
  margin-right: -80px;
  width: 30px;
}

.post-form-smile-icon-input {
  display: none;
}

.post-button button {
  display: flex;
  background-color: rgb(27, 119, 242);
  border-radius: 10px;
  border: none;
  color: white;
  width: 92%;
  justify-self: center;
  justify-content: center;
  margin: 20px auto;
}

.post-button button > span {
  margin: 5px 0;
}