.post-card {
  min-height: 120px;
}

.post-form-header {
  justify-content: center;
  height: 30px;
  width: 90%;
  margin-top: 10px;
  margin: 10px auto;
}

.post-form-header > div {
  display: flex;
}

.post-form-header div > span:first-child {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-content: center;
}

.post-form-header div > span:last-child {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.post-form-header div > span:last-child button {
  border: none;
  background-color: white;
}

.post-dividor {
  width: 90%;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin: 0 auto
}
// // End of header

.post-form-user {
  margin-bottom: 10px;
  display: flex;
  height: 30px;
}

.post-form-user-image {
  margin: 10px;
}

.friends-p {
  font-size: 12px;
  align-self: center
}

.post-form-friends-click {
  display: flex;
  height: 16px;
  width: 68px;
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}

.post-form-friends-click div {
  height: 10px;
  width: 14px;
}

.friends-icon {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.arrow-down {
  width: 9px;
  height: 9px;
  margin-bottom: 10px;
  margin-top: 2px;
  margin-left: 3px;
}
// End of below header

.post-form-text textarea {
  margin-top: 5px;
  margin-left: 10px;
  outline: none;
  width: 93%;
  min-height: 130px;
  overflow: hidden;
  resize: none;
  // border: none;
}

.post-form-text textarea::placeholder {
  color: rgb(144, 148, 156);
  font-size: 16px;
}
// // End of post text

.add-to-your-post {
  width: 92%;
  height: 40px;
  display: flex;
  border: 1px solid rgb(206, 208, 210);
  border-radius: 10px;
  margin: 10px auto;
}

.add-to-your-post > div {
  width: 100%;
  align-self: center;
}

.post-add-to-post {
  margin-left: 30px;
}

.post-icons {
  display: flex;
  margin-left: 150px;
  margin-right: -80px;
  width: 30px;
}

.form-icons {
  width: 10px;
  height: 10px;
}

.post-form-smile-icon-input {
  display: none;
}

.post-button button {
  display: flex;
  background-color: rgb(27, 119, 242);
  border-radius: 10px;
  border: none;
  color: white;
  width: 92%;
  justify-self: center;
  justify-content: center;
  margin: 20px auto;
}

.post-button button > span {
  margin: 5px 0;
}
