.post-dropdown-button {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  border: none;
}

.post-dropdown-button:hover {
  background-color: rgb(225, 227, 229);
}

.post-dropdown-menu {
  position: absolute;
  height: 45px;
  width: 84px;
  right: 630px;
  margin: 4px;
  top: 204px;
  border: 1px solid black;
  border-radius: 4px;
}

.post-dropdown-edit, 
.post-dropdown-delete {
  display: flex;
  margin: 2px;
  padding: 4px;
  border-radius: 6px;
}

.post-dropdown-edit span, 
.post-dropdown-delete span {
  font-size: 10px;
}

.post-dropdown-edit:hover, 
.post-dropdown-delete:hover {
  background-color: rgb(225, 227, 229);
  cursor: pointer;
}

.post-dropdown-icons {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}