

.post-form-card {
  cursor: default;
}

.post-form-header {
  justify-content: center;
  height: 30px;
  width: 90%;
  margin-top: 10px;
  margin: 10px auto;
}

.post-form-header > div {
  display: flex;
}

.post-form-header div > span:first-child {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-content: center;
}

.post-form-header div > span:last-child {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.post-form-header div > span:last-child button {
  border: none;
  background-color: white;
}

.post-dividor {
  width: 90%;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin: 0 auto
}
// // End of header

.post-form-user {
  margin-bottom: 10px;
  padding-top: 8px;
  display: flex;
  height: 30px;
}

.post-form-user-image {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.post-form-user-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.post-form-user-name {
  margin-top: 5px;
  margin-left: -5px
}

.friends-p {
  font-size: 12px;
  align-self: center
}

.post-form-friends-click {
  display: flex;
  height: 16px;
  width: 68px;
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}

.post-form-friends-click div {
  height: 10px;
  width: 14px;
}

.friends-icon {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.arrow-down {
  width: 9px;
  height: 9px;
  margin-bottom: 10px;
  margin-top: 2px;
  margin-left: 3px;
}
// End of below header
.post-form textarea {
  margin: 10px 15px;
  outline: none;
  width: 93%;
  min-height: 120px;
  overflow: hidden;
  resize: none;
  font-size: 20px;
  border: none;
  padding-left: 5px;
}

.post-form textarea::placeholder {
  color: rgb(165, 165, 165);
  font-size: 20px;
}

// // End of post text

.add-to-your-post {
  width: 92%;
  height: 30px;
  border-radius: 10px;
  margin: 3px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-your-post div:first-child p {
  font-size: 12px;
}

.add-to-your-post div:last-child {
  display: flex;
}

.post-add-to-post {
  margin-left: 30px;
}

.add-to-post-buttons:hover {
  cursor: pointer;
}

.post-icons {
  display: flex;
  margin-left: 150px;
  margin-right: -80px;
  width: 30px;
}

.form-icons {
  width: 10px;
  height: 10px;
}

.post-form-smile-icon-input {
  display: none;
}

.post-button button {
  display: flex;
  background-color: rgb(27, 119, 242);
  border-radius: 10px;
  border: none;
  color: white;
  width: 92%;
  justify-self: center;
  justify-content: center;
  margin: 20px auto;
}

.post-button button > span {
  margin: 5px 0;
}

.file {
  display: none;
}

.file-upload-input {
  background-color: #1b77f2;
  border-radius: 7px;
  border: none;
  color: white;
  height: 65%;
  font-size: 10px;
  padding: 2px 6px;
}

.post-remove-photo-feed,
.post-remove-photo-show,
.post-remove-photo-index,
.post-remove-photo-nav,
.post-remove-photo-edit {
  background-color: #9c9c9c;
  border-radius: 7px;
  border: none;
  color: white;
  height: 65%;
  margin-left: 6px;
  font-size: 10px;
  padding: 2px 6px;
}

.post-remove-photo-feed:hover,
.post-remove-photo-show:hover,
.post-remove-photo-index:hover,
.post-remove-photo-nav:hover,
.post-remove-photo-edit:hover{
  cursor: pointer;
}

.file-upload-input:hover {
  cursor: pointer;
}

.file-upload-input:focus {
  outline: none;
}

.post-dynamic-image {
  width: 100%;
  height: 100%;
}

.post-image-show {
  margin: 10px;
}

.post-image-show img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}

.show {
  display: block;
}