// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Login CSS
.session-login-container {
  background-color: rgb(240, 242, 245);
  margin: 0 0;
  width: 100%;
  display: flex;
  padding-bottom: 300px;
  padding-top: 40px;
  justify-content: space-around;
}

.session-login-sidebar,
.session-login-form {
  align-self: center;
}

.facebook-text {
  color: rgb(26, 102, 245);
  font-size: 50px;
}

.facebook-clone {
  font-size: 6px;
}


// Login component CSS
// Main session div
.login-errors {
  margin-top: 3%;
  line-height: 1em;
  margin-left: 12%;
  text-align: left;
  color: red;
  font-weight: lighter;
}

.session-login-form {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  height: 64%;
  box-shadow: 
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);  
    // margin-left: -100px;
    margin-top: 90px;
    margin-right: -300px;
}


// Flex fields
.session-login-form-field {
  display: flex;
  justify-content: center;
}

// Input fields
.session-login-form-field > input{
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 25px;
}

.session-login-pictures {
  display: flex;
}

.session-login-pictures img {
  width: 210px;
  height: 210px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

// Flex button
.login-button { 
  display: flex;
  justify-content: center;
}

.login-button > button {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(26, 102, 245);
  border-radius: 5px;
  border: none;
  width: 96%;
  height: 40px;
}

// Anchor 
.forgot-account-anchor,
.demo-account-anchor { 
  margin: 20px;
}

.forgot-account-anchor > a,
.demo-account-anchor > a {
  color: blue;
  display: flex;
  justify-content: center;
}

// Border
.border-below-anchor {
  border-bottom: 1px solid #ccc;
}

// Flex create acc button
.login-create-account-button,
.signup-button {
  display: flex;
  justify-content: center;
}


.signup-button > button {
  justify-self: center;
}

.login-create-account-button > button,
.signup-button > button  {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(31, 209, 46);
  border-radius: 5px;
  border: none;
  width: 50%;
  height: 40px;
  margin-top: 20px;
}


// Modal for creating new account
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-main {
  position: fixed;
  background: white;
  width: 25%;
  height: 38%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  z-index: 100;
}

.modal-z {
  z-index: 200;
}

.modal-main * div {
  cursor: default;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

// Sign up component CSS
.session-signup-form {
  margin: auto;
}

.signup-errors {
  margin-top: 1%;
  line-height: 1em;
  margin-left: 23%;
  text-align: left;
  color: red;
  font-weight: lighter;
}

.session-signup-form-header {
  border-bottom: 1px solid #ccc;
  margin-left: 8px;
}

.session-signup-form-text {
  display: flex;
  justify-content: space-between;
}

.session-signup-form-text span {
  margin: 20px;
}

.session-signup-form-text span > button {
  border: none;
  background-color: white;
}

.session-signup-form-text span > button > p {
  font-size: 20px;
}

.session-signup-form-text > p {
  font-size: 30px;
  font-weight: bold;
  margin: 16px 10px;
}

.session-signup-form-preamble > p {
  color: rgb(80, 80, 80);
  margin: 16px 10px;
}

.form-box {
  margin: 10px;
}

.fullname-field,
.email-field,
.password-field {
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
}

.fullname-field > input{
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.fullname-field > input:first-child {
  margin-right: 20px;
}

.email-field > input,
.password-field > input {
  border-radius: 5px;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.birthday-p { 
  display: flex;
}

.birthday-p > p {
  color: rgb(80, 80, 80);
  font-size: 14px;
  margin-right: 10px;
}

.login-create-a-page {
  margin-top: 50px;
}