// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.session-login-container {
  background-color: rgb(241, 241, 241);
  margin: 0 0;
  width: 100%;
}