// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User's show CSS
.users-show-main {
  height: 100%;
  width: 100%;
}

.users-show-cover-photo-and-bio {
  height: 400px;
  background-color: rgb(206, 206, 185);
}

.cover-photo-container {
  background-color: blanchedalmond;
  margin: 0 auto;
  width: 50%;
  height: 400px;
}

.profile-photo-container {
  width: 100%;
  background-color: rgb(247, 159, 159);
  // border-radius: 180px;
}

.user-profile-link {
  text-decoration: none;
}