// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index-card {
  margin: 10px 0px;
}

// User's show CSS

.cover-photo-section {
  border-bottom: 1px solid rgb(222, 225, 228);
}

.cover-photo-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  height: 350px;
  margin: auto;
  position: relative;
  width: 940px;
}

.cover-photo-img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.profile-pic-container { 
  position: absolute;
  top: 190px;
  z-index: 0;
}

.profile-pic-container > img {
  border: 4px solid #242526;
  border-radius: 100%;
  height: 170px;
  width: 170px;
  position: relative;
  z-index: 0;
  object-fit: cover;
}

.camera-circle {
  background-color: #4e4f50;
  border-radius: 100%;
  cursor: pointer;
  height: 36px;
  position: absolute;
  top: 130px;
  left: 130px;
  width: 36px;
  opacity: .4;
  border: none;
}

.button-file { 
  display: none;
}

.camera-icon {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: visible;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.edit-profile-photo {
  width: 100%;
  height: 100%;
}

.edit-cover-photo {
  background-color: #4e4f50;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  height: 36px;
  width: 180px;
  position: absolute;
  right: 32px;
  bottom: 16px;
  opacity: .4;
}


// Beginning of under cover photo section
// Left nav
.under-cover-info-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 878px;
  min-height: 160px;
}

.under-cover-info {
  min-height: 100px;
  position: relative;
  text-align: center;
  width: 100%;
}

.user-name {
  display: block;
  margin-top: 16px;
  font-size: 34px;
}

.edit-bio-button {
  background: none;
  border: none;
  color: #2e89ff;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 4px;
  left: 426px;
}

.under-cover-main {
  border-top: 1px solid rgb(204, 206, 210) ;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.under-cover-left-nav {
  display: flex;
}

.under-cover-right-nav {
  display: flex;
}

.under-cover-timeline {
    border-bottom: 3px solid #2d88ff;
    padding: 17px 16px 17px 16px;
    margin-bottom: 2px;
}

.under-cover-others {
  padding: 17px 16px 17px 16px;
  margin-bottom: 6px;
}

.under-cover-more {
  padding: 17px 30px 17px 16px;
  margin-bottom: 6px;
}

.under-cover-timeline, 
.under-cover-others,
.under-cover-more {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  top: 3px;
}

.under-cover-cover {
  padding-right: 40px;
}

.under-cover-timeline span {
  color: #2d88ff;
}

.under-cover-others span,
.under-cover-more span {
  color: rgb(100, 102, 106);
}

.under-cover-timeline span,
.under-cover-others span,
.under-cover-more span {
  position: relative;
  top: -0px;
  cursor: pointer;
}

.friends-span {
  display: flex;
}

.friends-span p:last-child {
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-top: 1px;
}

.under-cover-others:hover,
.under-cover-more:hover {
  background-color: rgb(240, 242, 245);
  border-radius: 8px;
  cursor: pointer;
}

.more {
  display: relative
}

.more-icon {
  color: #b1b3b9;
  font-size: 16px;
  position: absolute;
  top: -4px;
  right: -16px;
  width: 0.625em;
  height: 1em;
  padding-left: 10px;
}

// End of left nav

// Right nav

.right-nav-divs {
  margin: 12px 8px 12px 0;
}

.right-nav-divs button {
  background-color: rgb(228, 230, 234);
  border: none;
  border-radius: 6px;
  color: black;
  padding: 10px 16px 10px 16px;
}

.right-nav-buttons:hover {
  background-color: rgb(216, 218, 222);
  border-radius: 8px;
  cursor: pointer;
}

.edit-profile-button {
  display: flex;
  font-weight: 600;
}

.edit-profile-button svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  margin-right: 10px;
}

.right-nav-buttons svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
}

// End of right nav

// End of under cover photo section

.profile-body-section {
  background-color: rgb(240, 242, 245);
}

.profile-body {
  background-color: rgb(240, 242, 245);
  margin: 0 400px;
  display: flex;
}

.profile-main-left-section {
  width: 40%;
}

.profile-intro-card {
  width: 100%;
  height: 20%;
  background-color: white;
  // border: 1px solid black;
  border-radius: 10px;
}

.profile-intro {
  margin: 20px 10px;
  font-weight: bold;
}

.profile-intro-details,
.profile-intro-featured {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.profile-intro-details button,
.profile-intro-featured button {
  background-color: rgb(204, 206, 210);
  border: none;
  width: 94%;
  border-radius: 5px;
  padding: 5px;
}

.post-on-your-mind {
  // border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 10%;
  margin: 20px auto;
}

.post-input-click {
  display: flex;
  padding: 10px;
}

.post-input-photo {
  margin: 10px 20px;
}

.post-actual-input {
  // background-color: rgb(212, 212, 212);
  background-color: rgb(240, 242, 245);
  border-radius: 20px;
  width: 80%;
  height: 100%;
  padding: 10px;
  color: gray;
}

.under-on-your-mind {
  justify-content: space-around;
}

.under-on-your-mind,
.on-your-mind-icons {
  display: flex;
}

.on-your-mind-icons {
  margin: 15px 0;
  border: 1px solid black;
  padding: 5px;
}

.under-mind-icon {
  margin-right: 10px;
}

.posts-index-div {
  margin: 28px;
}